*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Lato","Arial",sans-serif;
}
h1{
    font-size:50px;
    line-height:64px;
    color:#222;
}

h2{
    font-size:46px;
    line-height:54px;
    color:#222;
}
h4{
    font-size:20px;
    color:#222;
}
h5{
    font-size:20px;
    color:#222;
}
h6{
    font-weight:700;
    font-size:12px;
}
p{
    font-size:16px;
    color:#465b52;
    margin:15px 0 20px 0;
}
.section-p1{
    padding:40px 80px;
}
.section-m1{
    margin:40px 0;
}
body{
width:100%;
}
#header{
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding:20px 80px;
    background:#E3E6F3;
    box-shadow:0 5px 5px rgba(0,0,0,0.06);
    height:100px;
    z-index:999;
    position:sticky;
    top:0;
    left:0;
    
}
#hero{
    background-image: url("/resources/images/phone.png") ;
    background-repeat: no-repeat;
    background-position:top 10% right 0;
    margin-top:0px;
    height: 550px;
    margin-right: 500px;
    margin-bottom:5px; 
    width:90%;
}
.hero1{
    margin-left:300px;
    margin-top:0px;
    font-size:100%;
    font-weight:bolder;
    padding:100px;

    
}
.color{
    background-color: #e3e6f37d;
}
.hero1 h4{
    padding-bottom:15px ;
}
.hero1 h1{
    color:#088178;
}
.hero1 button{

        border-radius: .25rem;
        text-transform: uppercase;
        font-style: normal;
        font-weight: 400;
        padding-left: 25px;
        padding-right: 25px;
        color: #fff;
        -webkit-clip-path: polygon(0 0,0 0,100% 0,100% 0,100% calc(100% - 15px),calc(100% - 15px) 100%,15px 100%,0 100%);
        clip-path: polygon(0 0,0 0,100% 0,100% 0,100% calc(100% - 15px),calc(100% - 15px) 100%,15px 100%,0 100%);
        height: 40px;
        font-size: 0.7rem;
        line-height: 14px;
        letter-spacing: 1.2px;
        transition: .2s .1s;
        background-image: linear-gradient(90deg,#1c1c1c,#6220fb);
        border: 0 solid;
        overflow: hidden;
      }
      
      button:hover {
        cursor: pointer;
        transition: all .3s ease-in;
        padding-right: 30px;
        padding-left: 30px;
      }

      
      
    
#navbar{
    display:flex;
    align-items: center;
    justify-content: center;
}
#navbar li{
    list-style: none;
    padding:0 20px;
}
#navbar li a{
    text-decoration: none;
    font-size:16px;
    font-weight:600;
    color:#1a1a1a;
    transition:0.3s ease;
}
#navbar li a:hover,
#navbar li a.active
    {
    color:#088178;
}
/* #navbar li a.active::after{
    content:"";
    width:30%;
    height:2px;
    background:#088178;
    position:absolute;
    bottom:-4px;
    left:20px;
} */
.logo-white{
    height:150px;
    width:150px;
}
#feature{
    display:flex;
    align-items:center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .fe-box{
    width:180px;
    text-align:center ;
    padding:25px 15px;
    box-shadow:20px 20px 34px rgba(0,0,0,0.03);
    border:1px solid #cce7d0;
    border-radius: 4px;
    margin:15px 0;
    height:210px
    
}

#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70,62,221,0.1);
} 
#feature .fe-box h6{
    display:inline-block;
    padding:8px 6px 8px;
    line-height:1;
    border-radius:4px;
    color:#088178;
    background-color: #fddde4;
    z-index: 9;
}

.img1{
    width: 150px;
    height: 150px;
    margin-top: -12px;
    margin-left: -7px;
    z-index: 8;
}
#feature .fe-box .on{
    background-color: #cdebbc;
}
 #feature .fe-box .sa{
    background-color: #d1e8f2;
}
#feature .fe-box .pr{
    background-color: #cdd4f8;
}
#feature .fe-box .ha{
    background-color: #f6dbf6;
}
#feature .fe-box .su{
    background-color: #ffebe5;
} 
#product1{
    text-align:center;
}
#product1 .pro{
    width:23%;
    min-width: 250px;
    padding: 10px 12px;
    border:1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin:7px 0;
    transition:0.5s ease;
    position: relative;
}
#product1 .pro:hover{
    box-shadow:20px 20px 30px rgba(0,0,0,0.06);
    /* transform: scale(0.9); */

}
#product1 .pro img{
    width:100%;
    border-radius:20px;
    background-color:#cce7d084;
    transition: 0.6s;
}
.pro-container .pro .des{
    text-align:start;
    padding:10px 0;
}


 .pro-container .pro .des h5{
    padding-top: 7px;
    color:#1a1a1a;
    font-size: 15px;
}
.pro-container .pro .des .star i{
    font-size:12px;
    color:rgb(243,181,25);
}
.pro-container .pro .des h4{
    padding-top: 7px;
    font-size:15px;
    font-weight: 700;
    color:#088178;
}
.ca{
    display:inline-block;
    width:40px;
    height:40px;
    line-height:40px;
    border-radius: 50px;
    background-color:#e8f6ea ;
    font-weight:500;
    color:#088178;
    border:1px solid #cce7d0;
    position: absolute;
    bottom:20px;
    right:10px;
}
#product1 .pro-container{
    display:flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap:wrap ;
}
.sam{
    width:350px;
    height:350px;

}
#product1 img:hover{
    transform: scale(1.09);
    opacity: 1;

}
.vivo{
    width:350px;
    height:350px;
    z-index: 8;
}
.dell{
    width:350px;
    height:350px;
}
.ama{
    width:350px;
    height:350px;

}
.wat{
    width:350px;
    height:350px;

}
.tv{
    width:350px;
    height:350px;

}
.real{
    width:350px;
    height:350px;

}
.remote{
    width:350px;
    height:350px;

}
#banner{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("https://thegadgetflow.com/wp-content/uploads/2021/04/Must-have-iPhone-gadgets-for-your-everyday-life-featured-1200x675.jpeg");
    width:100%;
    height:40vh;
    background-size: cover;
    background-position: center;
}
#banner h4{
    color:#fff;
    font-size:18px;
}
#banner h2{
    color:#fff;
    font-size: 40px;
    padding:10px 0;
}
#banner h2 span{
    color:#ef3636 ;
}
.normal{
     font-size:14px;
    font-weight: 600;
    padding:15px 30px;
    color:#000;
    background-color: #fff;
    border-radius:4px;
    cursor:pointer;
    border:none;
    outline:none;
    transition: 0.2s; 
}
#banner button:hover{
    background-image: linear-gradient(90deg,#1c1c1c,#6220fb);
    color:#fff;
}
.sa{
    background-color: red;
}
#newsletter{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}
#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color:#fff;
}
#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color:#fff;
}
#newsletter p span{
    color:#ffbd27;

}
#newsletter input{
    height:3.125rem;
    padding:0 1.25em;
    font-size: 14px;
    width:100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    margin-right:10px;
    border-top-right-radius: 0;
    align-items: center;
}
#newsletter button{
    background-color: #088178;
    color:#fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.sbtn{
    display: flex;
    background-color:#088178;
    font-size:14px;
    font-weight: 600;
    padding:15px 30px;
    color:#fff;
    border-radius:4px;
    cursor:pointer;
    border:none;
    outline:none;
    transition: 0.2s;
    margin-left:-0px;
}
#newsletter .form{
    display: flex;
    width:40%;

}
footer{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #cce7d081;
}
.col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-top: 0;
}
.fo-logo{
    display: inline-block;
    margin-bottom: 0;
    height:150px;
    align-items: flex-start;
    margin-top: -60px;
    margin-left:-30px;
    margin-right: -30px;
}
footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}
footer p{
    font-size:13px;
    margin:0 0 8px 0;
}

footer a {
    font-size:13px;
    text-decoration: none;
    color:#222;
    margin-bottom: 10px;
}
.follow{
    margin-top: 20px;
}
.fo-icon{
    color:#465b52;
    padding-right:4px;
    cursor:pointer;
    margin-top: 0;
}
footer .install .row img{
    border: 1px solid #088178;
    border-radius: 6px;
}
footer .install img{
    margin:10px 0 15px 0;
}
.fo-icon:hover,
.fo-icon a:hover{
    color:#088178;
}
.copyright{
    width:100%;
    text-align: center;
}
.app{
    display: inline-block;
    height:70px;
}
.play{
    display: inline-block;
    height:70px;

}
.pay{
    display: inline-block;
    height:80px;
    margin-top: -40px;
}
.con{
    margin-top: -35px;
    align-items: left;

}
#page-header{
background-image:url('https://t3.ftcdn.net/jpg/00/86/56/12/360_F_86561234_8HJdzg2iBlPap18K38mbyetKfdw1oNrm.jpg');
width:100%;
height: 40vh;
background-size: cover;
display: flex;
justify-content: center;
text-align: center;
flex-direction: column;
padding: 14px;


}
#page-header h2,
#page-header p{
    color:#fff;
}
#about-head{
    display:flex;
    align-items: center;
}
#about-head img{
    width:60%;
    height:180%;
    transition: 0.6s;
}
#about-head div{
    padding-left: 40px;

}
.know{
    padding: 0.8em 1.8em;
    border: 2px solid #17C3B2;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #17C3B2;
    margin-top: 15px;
    right:-30%;
   }
   
   .know::before {
    display: inline-block;
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%) rotate(45deg);
    background: #17C3B2;
    transition: .5s ease;
    display: block;
    z-index: -1;
    margin-top: 20px;
    
   }
   
   .know:hover::before {
    width: 105%;
   }
   
   .know:hover {
    color: #111;
   }
#about-contact{
    display:flex;
    align-items: center;
}
#about-contact img{
    width:60%;
    height:180%;
}
#about-contact div{
    padding-left: 40px;

}
#about-contact i{
    display:inline;
    font-size: 120%;
} 
#about-contact h2{
    font-size: 230%;
}
#form-details form{
    width:65%;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}
#form-details form span{
    font-size: 12px;
}
#form-details form h2{
    font-size: 26px;
    line-height: 35px;
    padding:20px 0;
}
#form-details form input,
#form-details form textarea{
    width:100%;
    padding:12px 15px;
    outline:none;
    margin-bottom:20px;
    border:1px solid #e1e1e1;
}
.cbtn{
    padding: 0.8em 1.8em;
    border: 2px solid #17C3B2;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #17C3B2;
    margin-left: 20px;

   }
   
   .cbtn::before {
    display: inline-block;
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%) rotate(45deg);
    background: #17C3B2;
    transition: .5s ease;
    display: block;
    z-index: -1;
    margin-top: 20px;
    
   }
   
   .cbtn:hover::before {
    width: 105%;
   }
   
   .cbtn:hover {
    color: #111;
   }
   .people div{
    padding-bottom: 25px;
    display:flex;
    align-items: flex-start;
   }
   .people div img{
    width:65px;
    height:65px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 50%;
   }
   .people div p{
    margin:0;
    font-size:13px;
    line-height: 25px;
   }
   .people div p span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color:#000;
   }
   #form-details{
    display:flex;
    justify-content: space-between;
    margin:30px;
    padding: 80px;
    border:1px solid #e1e1e1;

   }
   #cart table{
    width:100%;
    border-collapse:collapse ;
    table-layout: fixed;
    white-space: nowrap;
   }
   #cart table img{
    width: 80px;
   }
   #cart table td:nth-child(1){
    width:100px;
    text-align: center;

   }
   #cart table td:nth-child(2){
    width:150px;
    text-align: center;

   }
   #cart table td:nth-child(3){
    width:250px;
    text-align: center;

   }
   #cart table td:nth-child(4),
   #cart table td:nth-child(5),
   #cart table td:nth-child(6){
    width:150px;
    text-align: center;

   }
   #cart table td:nth-child(5) input{
    width:70px;
    padding: 10px 5px 10px 15px;
   }
   #cart table thead{
    border:1px solid #e2e9e1;
    border-left: none;
    border-right: none;

   }
   #cart table thead td{
    font-weight: 700;
    text-transform:uppercase ;
    font-size: 13px;
    padding: 18px 0;
   }
   #cart table tbody tr td{
    padding-top: 15px;
   }
   #cart table tbody td{
    font-size: 17px;
   }
   .cartb{
    padding: 0.8em 1.8em;
    border: 2px solid #17C3B2;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #17C3B2;
   }
   
   .cartb::before {
    display: inline-block;
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%) rotate(45deg);
    background: #17C3B2;
    transition: .5s ease;
    display: block;
    z-index: -1;
    margin-top: 20px;
    
   }
   
   .cartb:hover::before {
    width: 105%;
   }
   
   .cartb:hover {
    color: #111;
   }
   #cart-add{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
   }
   #coupon{
    width:50%;
    margin-bottom: 30px;


   }
   #coupon h3,
   #subtotal h3{
    padding-bottom: 15px;
   }
   #coupon input{
    padding: 10px 20px ;
    outline:none;
    width:60%;
    margin-right: 10px;
    border:1px solid #e2e9e1;

}
#subtotal{
    width:50%;
    margin-bottom: 30px;
    border:1px solid #e2e9e1;
    padding:30px;
}
#subtotal table{
    border-collapse: collapse;
    width:100%;
    margin-bottom: 20px;
}
#subtotal table td{
    width:50%;
    border:1px solid #e2e9e1;
    padding:10px;
    font-size:13px;

}
.cartb2{
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background: #40B3A2;
    min-width: 200px;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    padding: 16px 20px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
  }
  
  .cartb2:hover {
    opacity: .95;
  }
  
  .cartb2.animation {
    border-radius: 100%;
    animation: ripple 0.6s linear infinite;
  }
  
  @keyframes ripple {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
    }
  
    100% {
      box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
    }
  }
  .js--wp-1,
  .js--wp-2{
    opacity:0;
    animation-duration: 1s;
  }
  .js--wp-1.animated,
  .js--wp-2.animated
  {
    opacity: 1;
    animation-duration: 1s;
  }













   











 
 




